.signup-form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.signup-form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.signup-form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-form .checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.signup-form .checkbox-container input {
  margin-right: 0.5rem;
}

.signup-form button {
  background-color: #007bff;
  color: #ffffff;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form button:hover {
  opacity: 80%;
}

.signup-form .signin-link {
  text-align: center;
  margin-top: 1rem;
}

.signup-form .signin-link a {
  color: #007bff;
  text-decoration: none;
}

.signup-form .signin-link a:hover {
  text-decoration: underline;
}
